.branding {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
    border-radius: 50rem;
    margin-top: 1rem;
}

.branding-logo {
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 50rem;
}

.branding-name {
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}